{{define "root"}}
<html>
    <head>
        <title>Monitor</title>
<style>
.output{
    font-size: 10px;
    font-family: monospace;
}
.tab{
    display: inline-block;
    width: 30px;
}
</style>
    </head>
    <body>
        {{with .Last.Message}}
        <h1>Remaining: {{.Remaining}}, total: {{.Total}}</h1>
        {{end}}
        <h2>Last 10 jobs:</h2>
        <ul>
            {{range .Jobs}}
            {{if .Valid}}
            <li>
                {{with .Message}}
                <h3>{{.Name}}</h3>
                <p class="output">{{.PrettyOutput}}</p>
                {{end}}
            </li>
            {{end}}
            {{end}}
        </ul>
    </body>
</html>
{{end}}
